body{
    background-color: #444;
    background: url("../Imagenes/back_ppal.jpg") no-repeat center fixed;    
      -webkit-background-size: auto auto;
      -moz-background-size: auto auto;
      -o-background-size: auto auto;
      background-size: auto auto;
}

.vertical-offset-100{
    padding-top:100px;
}